
#page-top {
  font-family: Oswald, sans-serif;
  background: var(--swiper-theme-color);
  
}
.navbar.navbar-light.navbar-expand-md.py-3 {
  background: var(--bs-green);
}
.logo-img {
  width: 3rem;
  height: 2rem;
  margin-top: 5px;
}
.highlighted-text {
  color: rgba(225, 255, 255, 0.9);
}
#highlighted-link {
  color: rgba(225, 255, 255, 0.9);
}
.dropbtn {
  background-color: #04AA6D;
  color: rgba(225, 255, 255, 0.9);
  padding: 16px;
  background: var(--bs-green);
  border: none;
  font-family: Oswald, sans-serif;
  padding: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background: var(--bs-green);
  color: white; /* Alteração da cor do texto para branco */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
      
