.desporto{

  font-family: Oswald, sans-serif;
  text-align: center;
  margin-top: 250px;
  font-weight: bold;
  font-size: 50px;
}

.modalidade{
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  border-radius: 5px;
}



.fut7inT {
  width: 50%;
  float: right;
  height: 248.75px;
}


.imgfut7in {
  margin: 40px;
  width: 500px;
  margin-left: 60px;
}

.fut7inImg {
  display: block;
  width: 50%;
  float: left;
}


.titulo_dos_campos {
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.divisao_campo {
  background: rgb(242, 242, 242);
  margin: 60px;
  border-radius: 15px;
}

.preço {

  margin-left: 60px;
  font-size: 20px;
}

.texto {
  margin-left: 60px;
}

.tabela_horarios {
  background: var(--swiper-theme-color);
  margin: 40px;
}

.divisao_tabela {
  display: inline-block;
  width: 100%;
}

.horarios {
  margin-left: 40px;
  margin-top: 9px;
  font-size: 20px;
}